.summary {
  display: flex;
  flex-direction: column;
  margin-bottom: var(--size-small);
}

.summary-link {
  display: inline-block;
  margin: 0;
  color: var(--color-base);
  font-family: var(--font-family-secondary);
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-regular);
  text-decoration: none;
  box-sizing: border-box;
}

.summary-link:hover {
  color: var(--color-primary);
}
