.banner {
  display: flex;
  align-items: center;
  margin: 0;
  max-width: var(--viewport-max-width);
}

@media screen and (min-width: 768px) {
  .banner {
    align-items: flex-end;
    margin-left: auto;
    margin-right: auto;
  }

  .banner-content {
    width: 80%;
    margin-right: var(--size-medium);
  }
}

@media screen and (min-width: 940px) {
  .banner-content {
    margin-right: var(--size-extra-large);
  }
}
