.banner {
  display: flex;
  align-items: center;
  max-width: var(--viewport-max-width);
  padding: var(--size-medium);
  margin: 0;
  text-align: center;
}

.banner p:first-child {
  margin-bottom: 0;
  color: var(--color-black);
  font-size: 40px;
  font-weight: var(--font-weight-bold);
}

.banner p:last-child {
  margin: 0;
  font-size: 24px;
  font-weight: var(--font-weight-light);
}

@media screen and (min-width: 768px) {
  .banner {
    align-items: flex-end;
    margin-left: auto;
    margin-right: auto;
  }
}
