.Description {
  display: flex;
  flex-direction: column;
  max-width: $medium-width;
  margin-bottom: 3em;
  margin-top: 3em;

  font-weight: $w-light;

  img {
    width: 60px;
    height: 60px;
    margin-bottom: 1em;

    border-radius: 50%;
  }

  @include respond-to($mq-small) {
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    margin-left: auto;
    margin-right: auto;

    text-align: left;

    img {
      margin-right: 1em;
    }
  }
}

.Description__Content {
  h1 {
    margin-top: 0;
    margin-bottom: 0;

    font-size: 1.6em;
    line-height: .5em;
    text-align: center;
  }

  @include respond-to($mq-small) {
    h1 { text-align: left; }
  }
}
