.Description {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: $medium-width;
  margin-bottom: 3em;
  margin-top: 3em;

  font-weight: $w-light;
  padding-bottom: 2em;
  border-bottom: 1px solid $gray-color;

  img {
    width: 60px;
    height: 60px;
    margin-bottom: 1em;

    border-radius: 50%;
  }

  @include respond-to($mq-small) {
    flex-direction: row;
    align-items: center;
    margin-left: auto;
    margin-right: auto;

    text-align: left;

    img {
      margin-right: 1em;
      margin-bottom: 0;
    }
  }
}

.Description__Content {
  text-align: center;

  h1 {
    margin-top: 0;
    margin-bottom: 0;

    font-size: 1.6em;
    font-weight: $w-bold;
    line-height: .5em;
  }

  p { margin-bottom: 0; }

  @include respond-to($mq-small) {
    h1 { text-align: left; }
  }
}