.Description {
  margin-bottom: 4em;

  font-size: 1.5em;
  font-weight: $w-light;
  line-height: 1.6em;
  text-transform: lowercase;

  @include respond-to($mq-medium) {
    max-width: 800px;
    font-size: 1.8em;
  }
}
