.content-section {
  margin: auto;
  margin-bottom: var(--sizes-extra-large);
  max-width: var(--viewport-max-width);
}

.content-section-resume {
  /* color: var(--color-grey); */
  /* font-size: var(--font-size-base); */
  color: #615c5c;
  font-size: 24px;
}

.content-section-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.content-section-item {
  width: 100%;
}
