.content-section {
  margin: auto;
  margin-top: var(--size-extra-large);
  margin-bottom: var(--sizes-extra-large);
  max-width: var(--viewport-max-width);
}

.content-section h2 {
  text-transform: lowercase;
}

.content-section h2:after {
  content: '.';
}

.content-section-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.content-section-item {
  width: 100%;
}
