<section class="Description">
  <%= image_tag 'profile.jpg' %>
  <div class="Description__Content">
    <h1><%= hello ? 'Olá, eu sou o @fernahh.' : '@fernahh' %></h1>
    <p>
      Desenvolvedor front-end em Design Systems
      na <%= link_to "QuintoAndar", "https://quintoandar.com.br", title: "Site da QuintoAndar" %>.
    </p>
  </div>
</section>
