<article class="Description">
  <section>
    <p>
      Trabalho e vivo da web desde 2010. Hoje sou engenheiro de software na
      <%= link_to "ContaAzul", "http://contaazul.com", title: "Site da ContaAzul" %>.
      Fique a vontade para entrar em contato através do meu
      <%= mail_to "fernahh@gmail.com", "e-mail pessoal" %>.
    </p>
  </section>
</article>
