<section class="Description">
  <%= image_tag 'profile.jpg' %>
  <div class="Description__Content">
    <h1><%= hello ? 'Olá, eu sou o @fernahh.' : '@fernahh' %></h1>
    <p>
      Sou um desenvolvedor de software morando em São Paulo, SP.
      Atualmente trabalho construindo ferramentas para aumentar a produtividade
      do time de engenharia da <%= link_to "Conta Azul", "http://contaazul.com", title: "Site da ContaAzul" %>.
    </p>
  </div>
</section>
