<footer class="Footer">
  <p>
    Desenvolvido com <%= link_to "Middleman", "https://middlemanapp.com/", title: "Website do Middleman" %> e hospedado
    no <%= link_to "Github Pages", "https://pages.github.com/", title: "Github pages website" %>. O projeto está
    no <%= link_to "Github", "https://github.com/fernahh/fernahh.github.io", title: "Projeto no Github" %>.
  </p>
  <p>
    Fork e use isso como quiser! Com exceção do conteúdo, é claro.
  </p>
</footer>
