<footer class="Footer">
  <p>Made with <%= link_to "Middleman", "https://middlemanapp.com/", title: "Middleman website" %> and host on
    <%= link_to "Github Pages", "https://pages.github.com/", title: "Github pages website" %>. This project is
    on <%= link_to "Github", "https://github.com/fernahh/fernahh.github.io", title: "Project on Github" %>.</p>
</footer>
