<div class="Header_Navigation">
  <header class="Header">
    <%= partial "partials/brand" %>
    <h1>Luiz Fernando Rodrigues</h1>
    <h2>desenvolvedor e de buenas na web.</h2>
  </header>

  <%= partial "partials/navigation" %>
</div>
