<header class="header">
  <% link_to '/', title: 'Blog do Fernahh' do %>
    <div class="fernahh">
      <span class="fernahh_f"></span>
      <span class="fernahh_s"></span>
    </div>
    <h1>Blog do Fernahh</h1>
  <% end -%>
</header>
