<header class="header">
  <% link_to '/', title: 'Blog do Fernahh' do %>
    <h1>Blog do Fernahh</h1>
  <% end -%>
  <nav class="navigation">
    <ul class="navigation-list">
      <li class="navigation-item">
        <%= link_to 'Quem?', '#profile', title: 'Quem?', class: 'navigation-link scroll', id: 'scrollButton' %>
      </li>
    </ul>
  </nav>
</header>
