<div class="Header_Navigation">
  <header class="Header">
    <h1>
      <%- link_to "/", title: "fernahh.com.br" do %>
        <strong>fernahh</strong>.com.br
      <% end -%>
    </h1>
    <h2>desenvolvedor e de buenas na web.</h2>
  </header>

  <%= partial "partials/navigation" %>
</div>
