<header class="header">
  <% link_to '/', title: '@fernahh' do %>
    <div class="fernahh">
      <span class="fernahh_f"></span>
      <span class="fernahh_s"></span>
    </div>
    <h1 style="display: block;">@fernahh</h1>
  <% end -%>
</header>
