<div class="Header_Navigation">
  <header class="Header">
    <h1>
      <%- link_to "/", title: "fernahh.com.br" do %>
        <strong>fernahh</strong>.com.br
      <% end -%>
    </h1>
  </header>
</div>
