<nav class="Navigation">
  <ul class="Navigation__List">
    <li class="Navigation__List__Item">
      <%- link_to "https://twitter.com/fernahh", class: "Navigation__List__Item__Link", title: "Link para o Twitter" do %>
        Twitter
      <% end -%>
    </li>
    <li class="Navigation__List__Item">
      <%- link_to "https://github.com/fernahh", class: "Navigation__List__Item__Link", title: "Projetos no Github" do %>
        Github
      <% end -%>
    </li>
    <li class="Navigation__List__Item">
      <%- link_to "https://www.linkedin.com/in/fernahh", class: "Navigation__List__Item__Link", title: "Perfil no LinkedIn" do %>
        LinkedIn
      <% end -%>
    </li>
  </ul>
</nav>
