<nav class="Navigation">
  <ul class="Navigation__List">
    <li class="Navigation__List__Item">
      <%- link_to "/sobre", class: "Navigation__List__Item__Link", title: "Quem é @fernahh?" do %>
        <span class="content">Sobre </span><span class="underline"></span>
      <% end -%>
    </li>
    <li class="Navigation__List__Item">
      <%- link_to "https://twitter.com/fernahh", class: "Navigation__List__Item__Link", title: "Link para o Twitter" do %>
        <span class="content">Twitter </span><span class="underline"></span>
      <% end -%>
    </li>
    <li class="Navigation__List__Item">
      <%- link_to "https://github.com/fernahh", class: "Navigation__List__Item__Link", title: "Projetos no Github" do %>
        <span class="content">Github </span><span class="underline"></span>
      <% end -%>
    </li>
    <li class="Navigation__List__Item">
      <%- link_to "http://speakerdeck.com/fernahh", class: "Navigation__List__Item__Link", title: "Talks no Speakerdeck" do %>
        <span class="content">Talks </span><span class="underline"></span>
      <% end -%>
    </li>
  </ul>
</nav>
