<div class="Share_Bar" data-share-bar data-share-title="<%= post_title %>">
  <a class="Share_Bar__Button Share_Bar__Button--twitter" data-share-item="twitter">
    <span class="Share_Bar__Button__Icon Share_Bar__Button__Icon--twitter"></span>
    <span class="Share_Bar__Button__Text Share_Bar__Button__Text--twitter">Tweet</span>
  </a>
  <button class="Share_Bar__Button Share_Bar__Button--facebook" type="button" data-share-item="facebook">
    <span class="Share_Bar__Button__Icon Share_Bar__Button__Icon--facebook"></span>
    <span class="Share_Bar__Button__Text Share_Bar__Button__Text--facebook">Share</span>
  </button>
</div>
