.navigation-list {
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

@media screen and (min-width: 768px) {
  .navigation-list {
    display: flex;
    justify-content: flex-end;
  }
}
