.navigation-list {
  width: 100%;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

@media screen and (min-width: 768px) {
  .navigation-list {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    /* max-width: 540px; */
    max-width: calc(var(--viewport-middle-width) + 5%);
    margin-top: 0;
  }
}
