.newsletter-form {
  display: flex;
  flex-direction: column;
  margin-top: var(--size-extra-large);
  margin-bottom: var(--sizes-extra-large);
  padding: var(--size-medium);
  background-color: var(--color-grey-light);
  border: 1px solid var(--color-grey-semi-light);
  border-radius: var(--base-border-radius);
}

.newsletter-form h4 {
  margin-bottom: 0;
  font-weight: var(--font-weight-bold);
  text-transform: lowercase;
}

.newsletter-form-label {
  display: inline-block;
  width: 100%;
  color: var(--color-black);
  font-family: var(--font-family-secondary);
  font-size: var(--font-size-medium);
  text-transform: lowercase;
}

.newsletter-form-label:after {
  content: '.';
}

.newsletter-form input {
  margin-bottom: var(--size-small);
}

@media screen and (min-width: 768px) {
  .newsletter-form input {
    margin-bottom: 0;
  }

  .newsletter-form-fields {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }

  .newsletter-form-fields-input {
    width: 80%;
    margin-right: 2%;
  }

  .newsletter-form-fields-button {
    width: 18%;
  }
}
