.page {
  padding-top: 44px;
  margin-left: var(--size-small);
  margin-right: var(--size-small);
}

.page-content {
  width: 100%;
  margin: 0 auto;
  max-width: var(--viewport-max-width);
}

.page-list {
  position: fixed;
  right: var(--size-small);
  bottom: var(--size-small);
  display: flex;
  margin: 0;
  list-style-type: none;
}

.page-item:first-child {
  margin-right: var(--size-extra-small);
}
