.page {
  max-width: var(--viewport-max-width);
  margin: auto;
  padding-top: var(--size-duble-extra-large);
  padding-left: var(--size-small);
  padding-right: var(--size-small);
}

.page-content {
  width: 100%;
  margin: 0 auto;
}

.page-content-children {
  max-width: var(--viewport-middle-width);
  margin: 0 auto;
}

/* .page-content-children.is-full-width {
  max-width: 100%;
} */

.page-list {
  position: fixed;
  right: var(--size-small);
  bottom: var(--size-small);
  display: flex;
  margin: 0;
  list-style-type: none;
}

.page-item:first-child {
  margin-right: var(--size-extra-small);
}

@media screen and (min-width: 768px) {
  .page {
    padding-top: var(--size-extra-large);
  }
}
