:root {
  --color-primary: #0066cc;
  --color-black: #202723;
  --color-grey: #999999;
  --color-grey-black: #615c5c;
  --color-grey-semi-light: #e4e4e4;
  --color-grey-light: #f4f4f4;
  --color-link: var(--color-primary);
  --color-link-hover: #0066ccb8;
  --color-white: #ffffff;

  --base-background-color: #fdfdfd;
  --base-border-color: var(--color-grey-semi-light);
  --base-border-radius: 4px;
  --base-color: var(--color-grey-black);

  --font-size-extra-small: 15px;
  --font-size-small: 18px;
  --font-size-base: 20px;

  --font-weight-regular: 400;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;
  --font-weight-extra-bold: 800;

  --size-extra-small: 8px;
  --size-small: 16px;
  --size-medium: 24px;
  --size-large: 32px;
  --size-extra-large: 40px;
  --size-duble-extra-large: 80px;

  --viewport-middle-width: 640px;
  --viewport-max-width: 970px;
}

body {
  margin: 0;
  color: var(--base-color);
  font-family: 'Assistant', sans-serif;
  font-size: var(--font-size-small);
  background-color: var(--base-background-color);
}
