:root {
  --color-base: #44484a;
  --color-primary: #378d65;
  --color-black: #202723;
  --color-grey: #999999;
  --color-grey-black: #615c5c;
  --color-grey-semi-light: #e4e4e4;
  --color-grey-light: #f2f2f2;
  --color-link: var(--color-primary);
  --color-link-hover: var(--color-primary);
  --color-white: #ffffff;

  --base-background-color: #fafafa;
  --base-border-color: var(--color-grey-semi-light);
  --base-border-radius: 4px;
  --base-color: var(--color-grey-black);

  --font-family-primary: 'Assistant', sans-serif;
  --font-family-secondary: 'DM Serif Display', serif;

  --font-size-extra-small: 15px;
  --font-size-small: 18px;
  --font-size-base: 18px;
  --font-size-medium: 24px;

  --font-weight-regular: 400;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;
  --font-weight-extra-bold: 800;

  --size-extra-small: 8px;
  --size-small: 16px;
  --size-medium: 24px;
  --size-large: 32px;
  --size-extra-large: 40px;
  --size-duble-extra-large: 80px;

  --viewport-middle-width: 640px;
  --viewport-max-width: 1024px;
}

body {
  margin: 0;
  color: var(--base-color);
  font-family: var(--font-family-primary);
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-regular);
  background-color: var(--base-background-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-secondary);
}
