.navigation-link {
  display: inline-block;
  width: 100%;
  height: 100%;
  padding-top: 12px;
  padding-bottom: 12px;
  color: var(--color-link);
  font-family: var(--font-family-secondary);
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-semi-bold);
  text-decoration: none;
  text-transform: lowercase;
  border-radius: var(--base-border-radius);
  box-sizing: border-box;
}

.navigation-link::after {
  content: '.';
}

.navigation-link:hover,
.navigation-link.is-active {
  color: var(--color-primary);
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .navigation-link {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: var(--size-extra-small);
    padding-left: var(--size-extra-small);
    font-size: var(--font-size-base);
    text-align: center;
  }
}
