@mixin respond-to($val, $query: min-width, $media: screen) {
  @media #{$media} and ($query: $val) {
    @content;
  }
}

@mixin hide-text() {
  text-align: left;
  text-indent: -9999em;
  overflow: hidden;
}

@mixin attention() {
  &:hover,
  &:active,
  &:focus {
    @content;
  }
}

%Row,
.Row {
  width: 100%;
  overflow: hidden;
}

.Pull--right {
  float: right;
}

.lowercase {
  text-transform: lowercase;
}
