/*
 * Settings.
 */

// Fonts
$main-font: 'Open Sans', sans-serif;
$title-font: $main-font;

// Colors
$adjacent-color: #fa2b86;
$text-color: #44484a;
$link-color: $adjacent-color;

$black-color: #000000;
$white-color: #ffffff;
$gray-color: #e7e7e7;
$gray-colorB: #8c8c8c;

// Sizes
$max-width: 1400px;
$medium-width: 640px;
$main-padding: 1em;
$mq-medium: 768px;
$mq-large: 900px;
