/*
 * Settings.
 */

// Fonts
$main-font: "Assistant", Arial, sans-serif;
$title-font: $main-font;

// Colors
$adjacent-color: #6fccA9;
$text-color: #44484a;
$link-color: $adjacent-color;

$black-color: #202723;
$white-color: #ffffff;
$gray-color: #e7e7e7;
$gray-colorB: #8c8c8c;

// Sizes
$max-width: 1400px;
$medium-width: 640px;
$main-padding: 1em;
$mq-medium: 768px;
$mq-large: 900px;

// Weights
$w-light: 300;
$w-normal: 400;
$w-bold: 700;
