/*
 * Settings.
 */

// Fonts
$main-font: 'Open Sans', sans-serif;
$title-font: $main-font;

// Colors
$main-color: #111111;
$second-color: #aaaaaa;
$adjacent-color: #44484a;
$adjacent-color-shadow: darken($adjacent-color, 6%);

$text-color: $adjacent-color;
$white-color: #ffffff;
$gray-color: #dddddd;
$gray-colorB: #e7e7e7;
$gray-colorC: #a0a0a0;
$gray-colorD: #aaadad;

// Sizes
$max-width: 720px;
$medium-width: 640px;
$main-padding: 1em;
$mq-medium: 768px;
$mq-large: 900px;
