.Article {
  max-width: $medium-width;
  margin: 0 auto;
  margin-top: 3em;
  margin-bottom: 4em;
  padding-left: 10px;
  padding-right: 10px;
  overflow: hidden;

  font-size: 1.2em;
  line-height: 1.7em;

  &__Title {
    margin-top: .2em;

    font-size: 2em;
    letter-spacing: -1.79px;
    line-height: 1.1em;
  }

  img {
    display: block;
    max-width: 90%;
    margin: 0 auto;
    padding: 4px;

    border: 1px solid $gray-color;
  }
}
