.Footer {
  margin-top: 4em;
  padding: 3em;

  background-color: $gray-colorB;

  text-align: center;

  p {
    margin: 0;

    color: darken($gray-colorB, 40%);
    font-size: .8em;

    a {
      color: darken($gray-colorB, 45%);
      border-color: darken($gray-colorB, 45%);

      &:hover { color: $white-color; }
    }
  }
}
