.Navigation__List {
  padding-left: 0;

  text-align: left;
  list-style-type: none;
}

.Navigation__List__Item {
  display: inline-block;
  margin-right: .9em;

  &:last-child { margin-right: 0; }

  &__Link {
    position: relative;
    z-index: 10;

    color: $text-color;
    font-size: 1em;
    font-weight: $w-bold;
    line-height: 2em;
    text-transform: lowercase;

    border: 0;
  }
}
