.Navigation {
  @include respond-to($mq-medium) {
    float: right;

    width: 60%;
    margin-top: 1em;
  }
}

.Navigation__List {
  padding-left: 0;

  text-align: center;
  list-style-type: none;

  @include respond-to($mq-medium) {
    text-align: right;
  }
}

.Navigation__List__Item {
  display: inline-block;
  margin-right: .9em;

  &:last-child { margin-right: 0; }

  &__Link {
    position: relative;
    z-index: 10;

    color: $second-color;
    font-size: .9em;
    letter-spacing: -1px;
    line-height: 2em;
    text-transform: lowercase;

    border: 0;

    @include attention() {
      color: darken($second-color, 10%);

      background-color: transparent;

      .underline { display: block; }
    }

    .content {
      z-index: 1;
    }

    .underline {
      content: '';

      position: absolute;
      z-index: 0;
      left: 10px;
      bottom: -6px;

      display: none;
      width: 80%;
      height: 6px;

      background-color:  $adjacent-color;
    }
  }
}
