.Post_Index {
  margin-bottom: 2em;

  &__Date {
    margin-top: 0;
    margin-bottom: 0;

    color: $gray-colorB;
    font-family: $title-font;
    font-size: .9em;
    line-height: 1.4em;
  }

  &__Title {
    margin-top: 0;
    margin-bottom: 0;

    font-size: 1.4em;
    font-weight: $w-semi-bold;
    line-height: 1.5em;

    a,
    .Post_Index__Title__Link {
      color: $link-color;

      border: 0;

      @include attention() {
        color: $link-color;
      }
    }

    .Post_Index__Title__Link[target="_blank"]:after {
      content: "";

      display: inline-block;
      width: 14px;
      height: 20px;
      margin-left: 4px;

      background-image: image-url("blank.svg");
      background-position: center;
      background-repeat: no-repeat;
    }
  }
}
