.Post_Index {
  margin-bottom: 2em;

  &__Date {
    color: $gray-colorD;
    font-family: $title-font;
    font-size: .75em;
    text-transform: uppercase;
  }

  &__Title {
    margin-top: 0;
    margin-bottom: 20px;

    font-size: 3em;
    line-height: 1.2em;
    letter-spacing: -1.79px;

    transition: all 200ms ease-in-out;

    a {
      color: #565a5c;

      border: 0;

      @include attention() {
        color: $white-color;
      }
    }
  }

  &____Summary {
    margin-bottom: 1.5em;
  }
}
