.Post_Index {
  margin-bottom: 2em;

  &__Date {
    margin-top: 0;
    margin-bottom: 0;

    color: $gray-colorD;
    font-family: $title-font;
    font-size: 1em;
    line-height: 1.4em;
  }

  &__Title {
    margin-top: 0;
    margin-bottom: 0;

    font-size: 1.1em;
    font-weight: 400;
    line-height: 1.2em;

    a {
      color: #333;

      border: 0;

      @include attention() {
        color: $link-color;
      }
    }
  }
}
