.Share_Bar {
  display: flex;
  margin-top: 50px;
}

.Share_Bar__Button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: .4em;

  text-align: center;

  border: 0;
  border-radius: 3px;

  &:first-child {
    margin-right: .4em;
  }

  &:hover {
    cursor: pointer;
  }

  &--twitter {
    background-color: #1da1f2;
  }

  &--facebook {
    background-color: #4361b3;
  }
}

.Share_Bar__Button__Text {
  color: $white-color;
  font-size: .75em;
  font-weight: $w-bold;

  &:hover, &:focus {
    color: $white-color;
  }
}

.Share_Bar__Button__Icon {
  width: 14px;
  height: 14px;
  margin-right: .4em;

  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;

  &--twitter {
    background-image: image-url("twitter.svg");
  }

  &--facebook {
    background-image: image-url("facebook.svg");
  }
}

.Share_Bar__Button__Text,
.Share_Bar__Button__Icon {
  line-height: 1em;
}
