.heading-h1,
.heading-h2,
.heading-h3,
.heading-h4,
.heading-h5,
.heading-h6 {
  margin-top: 0;
  margin-bottom: 1.5rem;
  color: var(--color-black);
  font-weight: var(--font-weight-regular);
  line-height: 1em;
}

.heading-h1 {
  font-size: 3rem;
}

.heading-h2 {
  font-size: 2.25rem;
}

.heading-h3 {
  font-size: 2rem;
}

.heading-h4 {
  font-size: 1.5rem;
}

.heading-h5 {
  font-size: 1.25rem;
}

.heading-h6 {
  font-size: 1rem;
}

@media screen and (min-width: 768px) {
  .heading-h1 {
    font-size: 64px;
  }
}
