---
title: "Sobre"
---

<article class="Article" role="article">
  <header>
    <h1 class="Article__Title">Sobre</h1>
  </header>
  <section>
    <p>E aí, tudo certo?</p>
    <p>
      Me chamo Luiz Fernando Rodrigues, mais conhecido como <em>"Fernahh"</em>.
    </p>
    <p>
      Nasci em Sobradinho, interior do Rio Grande do Sul. Morei cinco anos em Canela,
      onde me formei em Análise e Desenvolvimento de Sistemas, pela
      <%= link_to "Universidade de Caxias do Sul", "http://www.ucs.br/", title: "Site da UCS" %>.
    </p>
    <p>
      Trabalho e vivo da web desde 2010. Já contribui com projetos escritos em PHP,
      Ruby e JavaScript. Além disso, busco compartilhar meus conhecimentos através
      de palestras, artigos e projetos open source.
    </p>
    <p>
      Atualmente trabalho como engenheiro de software na
      <%= link_to "ContaAzul", "http://contaazul.com", title: "Site da ContaAzul" %>,
      com o principal foco em desenvolvimento front-end.
    </p>
    <p>
      Se quiser entrar em contato, podemos conversar através do e-mail
      <%= mail_to "fernahh@gmail.com", "fernahh@gmail.com" %>.
    </p>
  </section>
</article>
